*{
    margin: 0px;
    padding: 0px;
    
    font-family: Lato;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
}
nav {
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ham{
    flex: 1;
    max-width: 30px;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3%;
}
.line-hm{
    width: 30px;
    height: 1px;
    border: solid 1.5px #000000;
}
p {
    margin: 0px;
}
nav p {
    flex: 1;
    /* padding: 0px; */
    background-color: #ffffff;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-left: 2%;
    font-size: 22px;
}
nav img {
    width: 30px; 
    background-color: #ffffff;
    text-align: right;
    margin-right: 3%;
}
section{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.contain {
    max-width: 1172px;
    background-color: #f7f7f7;
    margin: auto;
    box-shadow: none;
}
.nocontainer{
    margin: 0 -10px;
}
.background{
    background-color: #ffffff;
}
.nobackground{
    background-color: #f7f7f7;
    box-shadow: none;
}
.padded{
    padding: 16px 16px 18px 15px;
}
.more-padded{
    padding: 20px 16px 18px 22px;
}
.less-padded{
    padding: 10px 0;
}
.heading {
    width: 182px;
    height: 34px;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-left: 15px; 
}
div > section {
    padding: 30px 15px;
}
.stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.story-image{
    max-width: 370px;
    max-height: 279px;
    flex: 1;
    background-size: contain;
}
.image {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.below{
    position: relative;
}
.above1{
    position: absolute;
    font-family: Lato;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: #ffffff;
    bottom: 59px;
    margin: 0 17px 0 22px;
}
.above2{
    position: absolute;
    font-family: Lato;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    bottom: 19px;
    margin-left: 22px;
}
.story {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.story1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}
.story-right {
    flex: 1;
    padding: 0 10px 0 10px;
}
.template{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}
.large-template{
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 2px;
}
.description{
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #222222;
    color: var(--black);
}
.large-description{
    font-size: 26px;
    line-height: 1.31;
    margin-bottom: 7px;
}
.author{
    font-size: 12px;
    text-align: left;
    color: #818181;
}
.large-author {
    font-size:  16px;
}
.publish{
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    color: #3d3d3d;
}
.large-publish{
    font-size: 14px;
    
}
.incards{
    line-height: 1.7;
    color: #5c5c5c;
    margin-bottom: 18px;
}
.card-template{
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-bottom: 2px;
}
.card-description{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.45;
    margin-bottom: 12px;
}
.line{
    border: solid 1px #d8d8d8;
    margin-top: 18px;
}
.yellow-line{
    width: 75px;
    height: 2px;
    border: solid 2px #edd30d;
    margin-bottom: 3px;
}
.red-line{
    width: 85px;
    height: 3px;
    border: solid 2px #f26c60;
    margin-bottom: 3px;
}
.blue-line{
    width: 58px;
    height: 2px;
    border: solid 2px #60bcf2;
    margin-bottom: 3px;
}
.pink-line{
    width: 142px;
    height: 2px;
    border: solid 2px #f260a4;
    margin-bottom: 3px;
}
.darkblue-line{
    width: 178px;
    height: 2px;
    border: solid 3px #2f73e4;
    margin-bottom: 24px;
}
.drblue-line{
    width: 89px;
    height: 2px;
    border: solid 3px #2f73e4;
    margin-bottom: 16px;
}
.pk-line{
    width: 174px;
    height: 2px;
    border: solid 3px #f260a4;
    margin-bottom: 15px;
}
.readmore {
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px 25px 0px;
}
.readmore> div:nth-child(1){
    width: 114px;
    height: 29px;
    font-family: Lato;
    font-size: 24px;
    text-align: right;
    color: #000000;
    margin-right: 10px;
}
.subscribe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 265px;
    background-color: #2f73e4;
    text-align: center;
    padding: 30px 39px;
    margin: 18px 0 30px;
}
.sub{
    font-family: Lato;
    background-color: #2f73e4;
    font-size: 22px;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
}
.in{
    width: 100%;
    height: 40px;
    border-radius: 4.3px;
    background-color: #ffffff;
    padding: 10px 16px;
}
.btn {
    width: 134.1px;
    height: 40px;
    border-radius: 108.1px;
    background-color: #2f73e4;
    border: solid 1.5px #ffffff;
    color: #ffffff;
}
.con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.item{
    flex: 1;
    padding: 0 15px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.item1{
    flex: 1;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.below-description{
    font-family: Lora;
    font-size: 12px;
    line-height: 1.53;
    text-align: left;
    color: #5c5c5c;
    margin: 14px 0 29px;
    background-color: #ffffff;
}
.show{
    display: none;
}
.show2{
    display: none;
}
.carousel-indicators{
    display: none;
}
.carousel{
    position: relative;
    overflow: hidden;
}
.caro-img{
    margin:auto;
    width: 100%;
    background-size: cover;
    display: flex;
    position: absolute;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
.image1 {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: -webkit-fill-available;
}
.color{
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.35;
}
.carousel-cap{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 380px;
    position: absolute;
    z-index: 111;
    top: 0px;
}
.car-must{
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
}
.car-des{
    max-width: 871px;
    font-size: 38px;
    line-height: 1.32;
    text-align: center;
    color: #ffffff;
}
.car-btn{
    width: 192.2px;
    height: 51px;
    background-color: transparent;
    border: solid 2.4px #ffffff;
}
.con-lg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-lg{
    flex: 1;
    min-width: 325px;
}
a.right.carousel-control, a.left.carousel-control {
    background-image: none;
}
@media only screen and (max-width: 549px){
    .ham{
        min-width: 10px;
        min-height: 20px;
    }
    .item3{
        padding: 0 30px;
    }
    .car-must{
        width: 144px;
        font-size: 28px;
    }
    .car-des{
        max-width: 281px;
        font-size: 22px;
        line-height: 1.36;
    }
    .car-btn{
        width: 173.3px;
        height: 40px;
        border-radius: 90px;
        border: solid 2.2px #ffffff;
    }
    .caro-img1{
        margin:auto;
        background-size: contain;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    
}
@media only screen and (min-width: 768px){
    .con{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .vanish, .vanish1{
        display: none;
    }
    .template-tab{
        font-size: 12px;
        letter-spacing: 1.1px;
    }
    .description-tab{
        font-size: 26px;
        line-height: 1.23;
    }
    .author-tab{
        font-size: 14px;
    }
    .publish-tab{
        font-size: 12px;
    }
    .story-right-tab {
        padding: 0 0 0 28px;
    }
    .show{
        display: block;
    }
    nav p {
        font-size: 22px;
    }
}
.marg{
    margin: 15px 0;
}
@media only screen and (min-width: 668px) and (max-width: 991px){
    .ham{
        min-width: 15px;
        min-height: 20px;
    }
    .con2{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .overflw{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .car-must{
        width: 113px;
        font-size: 22px;
    }
    .car-des{
        width: 571px;
        font-size: 24px;
        line-height: 1.37;
    }
    .car-btn{
        width: 125px;
        height: 35px;
        background-color: transparent;
        border: solid 1.6px #ffffff;
    }
    .caro-img{
        align-items: flex-start;
    }
    .image1{
        max-height: none;
    }
}
@media only screen and (min-width: 1024px){
    .show1, .vanish, .show2{
        display: block;
    }
    .vanish1{
        display: none;
    }
    .item{
        width: 100%
    }
    .half{
        min-width: 325px;
    }
    .lg{
        font-size: 30px;
    }
    .lg-d{
        font-size: 18px;
    }
    .fd{
        font-size: 22px;
    }
    .fd-a{
        font-size: 16px;
    }
    .headed{
        margin: 15px;
    }
    header{
        margin-bottom: 15px;
    }
    nav{
        height: 89px;
    }
    nav p{
        font-size: 32px;
    }
    .large{
        width: 425px;
    }
    .caro-img{
        align-items: flex-start;
    }
    .image1{
        max-height: none;
    }
}