*{
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    font-family: Lato;
    box-sizing: border-box;
    
}
nav {
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
nav p {
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-left: 5%;
}
nav img {
    width: 30px; 
    background-color: #ffffff;
    text-align: right;
    margin-right: 3%;
}
section{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 1172px;
    background-color: #f7f7f7;
 /* padding: 0 10px; */
    margin: auto;
    box-shadow: none;
}
.nocontainer{
    margin: 0 -10px;
}
.background{
    background-color: #ffffff;
}
.nobackground{
    background-color: #f7f7f7;
    box-shadow: none;
}
.padded{
    padding: 16px 16px 18px 15px;
}
.more-padded{
    padding: 20px 16px 18px 22px;
}
.less-padded{
    padding: 10px 0;
}
.heading {
    width: 182px;
    height: 34px;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
div > section {
    padding: 30px 15px;
}
.stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/* .stories > div {
    display: flex;
    margin-bottom: 10px;
} */
.story-image{
    max-width: 370px;
    max-height: 279px;
    flex: 1;
    background-size: cover;
    /* margin-right: 10px; */
}
.image {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.below{
    position: relative;
}
.above1{
    position: absolute;
    /* width: 361px;
    height: 114px; */
    font-family: Lato;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: #ffffff;
    bottom: 59px;
    margin: 0 17px 0 22px;
}
.above2{
    position: absolute;
    /* width: 107px;
    height: 19px; */
    font-family: Lato;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    bottom: 19px;
    margin-left: 22px;
}
.story {
    /* background-color: #ffffff; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0 10px; */
}
.story1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}
.story-right {
    flex: 1;
    padding: 0 10px 0 10px;
}
.template{
    /* width: 115px;
    height: 13px; */
    /* background-color: #ffffff; */
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}
.large-template{
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 2px;
}
.description{
    /* width: 187px;
    height: 63px; */
    /* background-color: #ffffff; */
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #222222;
    color: var(--black);
}
.large-description{
    font-size: 26px;
    line-height: 1.31;
    margin-bottom: 7px;
}
.author{
    /* width: 81px;
    height: 15px; */
    /* background-color: #ffffff; */
    font-size: 12px;
    text-align: left;
    color: #818181;
}
.large-author {
    font-size:  16px;
}
.publish{
    /* width: 81px;
    height: 12px; */
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    color: #3d3d3d;
}
.large-publish{
    font-size: 14px;
    
}
.incards{
    line-height: 1.7;
    color: #5c5c5c;
    margin-bottom: 18px;
}
.card-template{
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-bottom: 2px;
}
.card-description{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.45;
    margin-bottom: 12px;
}
.line{
    border: solid 1px #d8d8d8;
    margin-top: 18px;
}
.yellow-line{
    width: 75px;
    height: 2px;
    border: solid 2px #edd30d;
    margin-bottom: 3px;
}
.red-line{
    width: 85px;
    height: 3px;
    border: solid 2px #f26c60;
    margin-bottom: 3px;
}
.blue-line{
    width: 58px;
    height: 2px;
    border: solid 2px #60bcf2;
    margin-bottom: 3px;
}
.pink-line{
    width: 142px;
    height: 2px;
    border: solid 2px #f260a4;
    margin-bottom: 3px;
}
.darkblue-line{
    width: 178px;
    height: 2px;
    border: solid 3px #2f73e4;
    margin-bottom: 24px;
}
.drblue-line{
    width: 89px;
    height: 2px;
    border: solid 3px #2f73e4;
    margin-bottom: 16px;
}
.pk-line{
    width: 174px;
    height: 2px;
    border: solid 3px #f260a4;
    margin-bottom: 15px;
}
.readmore {
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px 25px 0px;
}
.readmore> div:nth-child(1){
    width: 114px;
    height: 29px;
    font-family: Lato;
    font-size: 24px;
    text-align: right;
    color: #000000;
    margin-right: 10px;
}
.subscribe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 265px;
    background-color: #2f73e4;
    text-align: center;
    padding: 30px 39px;
    margin: 18px 0 30px;
}
.sub{
    font-family: Lato;
    background-color: #2f73e4;
    font-size: 22px;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    /* margin: auto; */
}
.in{
    width: 100%;
    height: 40px;
    border-radius: 4.3px;
    background-color: #ffffff;
    padding: 10px 16px;
    /* margin: auto; */
}
.btn {
    width: 134.1px;
    height: 40px;
    border-radius: 108.1px;
    background-color: #2f73e4;
    border: solid 1.5px #ffffff;
    color: #ffffff;
}
.con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.item{
    flex: 1;
    padding: 0 15px;
}
.item1{
    flex: 1;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.below-description{
    font-family: Lora;
    font-size: 12px;
    line-height: 1.53;
    text-align: left;
    color: #5c5c5c;
    margin: 14px 0 29px;
    background-color: #ffffff;
}
.show{
    display: none;
}
@media only screen and (min-width: 768px){
    .con{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .vanish{
        display: none;
    }
    
    .item{
        width: 50%
    }
    .template-tab{
        font-size: 12px;
        letter-spacing: 1.1px;
    }
    .description-tab{
        font-size: 26px;
        line-height: 1.23;
    }
    .author-tab{
        font-size: 14px;
    }
    .publish-tab{
        font-size: 12px;
    }
    .story-right-tab {
        padding: 0 0 0 28px;
    }
    .show{
        display: block;
    }
}
.marg{
    margin: 15px 0;
}
