<!DOCTYPE html>
<html>
<head>
    <title>Quintype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7f7f7"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp">
    <header>
        <nav>
            <div class="ham">
                <div class="line-hm"></div>
                <div class="line-hm"></div>
                <div class="line-hm"></div>
            </div>
            <p>Quintype</p>
            <img src="images/search.svg" alt="search">
        </nav>
    </header>
    
    <section class="contain" ng-controller="newCon as vm" ng-init="vm.submit()">
        
            <section class="headed" >
                    <article class="con" style="margin: 0 0 15px">
                        <article class="item1">
                            <img class="image item1" src="images/cover.jpg" alt="">
                        </article>
                        <article class="item1">
                            <div class="story padded background item1">
                                <div class="template large-template background">SCIENCE</div>
                                <div class="yellow-line background"></div>
                                <div class="description large-description lg background">Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’</div>
                                <div class="below-description show lg-d">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
                                <div style="display: flex; height: 54px; margin-bottom: 7px;" class="background">
                                    <img src="images/download.png" alt="" style="width:54px; margin-right: 16px;" class="image">
                                    <div class="story background">
                                        <div class="author large-author background">Alex Parkinson</div>
                                        <div class="publish large-publish">Posted 15 min ago</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                </article>
            </section>
        
            <article class="con">
                <article class="item" style="margin: 15px 0 15px">
                <section>
                        <img class="image" src="images/image-4.jpg" alt="">
                        <div class="story more-padded background">
                                <div class="template large-template background">BUSINESS</div>
                                <div class="red-line background"></div>
                                <div class="description large-description background">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</div>
                                <div class="publish large-publish incards background">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
                                <div class="author large-author background">Jonnathan Doe</div>
                        </div>
                </section>
                </article>
                <article class="item item3">
                <section class="nobackground">
                        <div class="story1 less-padded ">
                                <div class="template card-template">TRAVEL</div>
                                <div class="blue-line"></div>
                                <div class="description card-description">Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service</div>
                                <div class="author large-author">Jonnathan Doe</div>
                                <div class="line"></div>
                        </div> 
                </section>
                <section class="nobackground">
                        <div class="story less-padded">
                                <div class="template card-template">HEALTH &amp; FITNESS</div>
                                <div class="pink-line"></div>
                                <div class="description card-description">Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
                                <div class="author large-author">Alice Doe</div>
                                <div class="line"></div>
                        </div>
                </section>
                <section class="nobackground">
                        <div class="story less-padded">
                                <div class="template card-template">SCIENCE</div>
                                <div class="yellow-line" style="width: 66px;"></div>
                                <div class="description card-description">Sundar Pichai Launches ‘Digital Unlocked’ Programme</div>
                                <div class="author large-author">Jonnathan Doe</div>
                        </div>
                </section>
            </article>
            <div class="item vanish">
                <article class="con show2 show1">
                    <img src="images/group-2.svg" alt="">
                </article>
                <article class="con show1">
                    <div class="subscribe">
                        <img src="images/message-copy.svg" alt="" style="background-color: #2f73e4;">
                        <p class="sub">Subscribe to Newsletter</p>
                        <input type="text" class="in" placeholder="Your email">
                        <div style="background-color: #2f73e4;"><button class="btn">Subscribe</button></div>
                    </div>
                </article>
            </div>
        </article>
        <div>
            <uib-carousel interval="vm.myInterval" active="vm.activeSlide">
                        <uib-slide ng-repeat="(key, value) in vm.story | limitTo: 3" index="$index" style="height:380px" class="carousel">
                            <div class="caro-img"><img class="image1" ng-src="http://quintype-01.imgix.net/{{value['hero-image-s3-key']}}" alt="image"></div>
                            <div class="carousel-cap">
                                <div class="car-must">Must Reads</div>
                                <div class="car-des">{{value['headline']}}</div>
                                <button class="btn car-btn">READ STORY</button>
                            </div>
                            <div class="color"></div>
                            
                        </uib-slide>
                </uib-carousel>
            </div>
            <h2 class="heading">Politics</h2>
            <div class="drblue-line" style="margin-left:15px"></div>
            <div class="con-lg">
                    <article class="below item item-lg" style="margin: 15px 0 15px">                    
                            <img class="image item1" src="images/long-trump.jpg" alt="">                    
                                    <div class="above1" style="background-color: transparent;">Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’</div>
                                    <div class="above2" style="background-color: transparent;">Jonnathan Doe</div>
                    </article>
                    <article class="item item-lg">
                        <section style="margin: 15px 0 15px">
                                <img class="image" src="images/trump.jpg" alt="">
                                <div class="story more-padded background">
                                        <div class="description large-description background">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</div>
                                        <div class="author large-author background">Jonnathan Doe</div>
                                </div>
                        </section>
                        <section style="margin: 15px 0 15px">
                                <div class="story more-padded background">
                                        <div class="description large-description background">Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service</div>
                                        <div class="author large-author background">Alice Doe</div>
                                </div>
                        </section>
                    </article>
                <article class="con2 item-lg">
                    <article class="item item3">
                        <section class="nobackground">
                                <div class="story less-padded">
                                        <div class="description card-description overflw">Airtel Offers 3 GB Free Data A Month To Customers Who Switch To Its 4G Service</div>
                                        <div class="author large-author">Jonnathan Doe</div>
                                        <div class="line"></div>
                                </div> 
                        </section>
                        <section class="nobackground">
                                <div class="story less-padded">
                                        <div class="description card-description overflw">Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
                                        <div class="author large-author">Alice Doe</div>
                                        <div class="line vanish show1"></div>
                                </div>
                        </section>
                    </article>
                    <article class="item item3">
                        <section class="nobackground">
                                <div class="story less-padded">
                                        <div class="description card-description overflw">Sundar Pichai Launches ‘Digital Unlocked’ Programme</div>
                                        <div class="author large-author">Jonnathan Doe</div>
                                        <div class="line"></div>
                                </div>
                        </section>
                        <section class="nobackground">
                                <div class="story less-padded">
                                        <div class="description card-description overflw">Warning Letter For Ankleshwar Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
                                        <div class="author large-author">Alice Doe</div>
                                </div>
                        </section>
                    </article>
                </article>
            </div>
            <div class="readmore vanish1">
                    <div>Read more</div>
                    <img src="images/ic_trending_flat_black_24px.svg" alt="">
            </div>
            <h2 class="heading">Food &amp; Health</h2>
            <div class="pk-line" style="margin-left:15px"></div>
            <article class="con">
                <article class="item">
                <section class="nobackground background">
                    <div class="stories marg">
                        <div class="story-image">
                            <img class="image" src="images/food-1.jpg" alt="image">
                        </div>
                            <div class="story story-right background"  style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);">
                                <div class="description background fd">This Is What 300 Calories Look Like, Think Twice Before You Eat!</div>
                                <div class="author background fd-a">Jonnathan Doe</div>
                            </div>
                    </div>
                    <div class="stories marg" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);">
                            <div class="story-image">
                                <img class="image" src="images/food-2.jpg" alt="image">
                            </div>
                                <div class=" story story-right background">
                                    <div class="description background fd">Lin-Manuel Miranda says Donald Trump is spreading ‘a virulent strain of a virus’</div>
                                    <div class="author background fd-a">Alex Parkinson</div>
                                </div>
                    </div>
                    <div class="stories marg" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);">
                        <div class="story-image">
                                <img class="image" src="images/food-3.jpg" alt="image">
                        </div>
                                <div class=" story story-right background">
                                    <div class="description background fd">Airtel Offers 3 food Data A Month To Customers Who Switch To Its food service</div>
                                    <div class="author background fd-a">Matt Wilson</div>
                                </div>
                    </div>
                </section>
                </article>
                <article class="item">
                    <section style="margin: 15px 0 15px">
                            <img class="image" src="images/image-2.png" alt="">
                            <div class="story more-padded background">
                                    <div class="description large-description background lg">Jenny Lawson Is Publishing a New Book and It’s Sort of a Coloring Book</div>
                                    <div class="publish large-publish incards background lg-d">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
                                    <div class="author large-author background">Jonnathan Doe</div>
                            </div>
                    </section>
                </article>
            </article>
            <div class="readmore vanish1">
                    <div>Read more</div>
                    <img src="images/ic_trending_flat_black_24px.svg" alt="">
            </div>
            
            <div>
                <section on-scroll-to-bottom="vm.load()">
                    <h2 class="heading background" style="margin-left:0px">Recent Stories</h2>
                    <div class="darkblue-line"></div>
                    <div ng-repeat="(key, value) in vm.story" class="stories">
                        <div class="story-image background">
                            <img class="image" ng-src="http://quintype-01.imgix.net/{{value['hero-image-s3-key']}}" alt="image" style="max-height: 279px">
                        </div>
                        <div class="story story-right story-right-tab background">
                            <div class="template template-tab background">{{value['sections'][0].name}}</div>
                            <div class="description description-tab large background">{{value['headline']}}</div>
                            <div class="author author-tab background">{{value['author-name']}}</div>
                            <div class="publish publish-tab background">Posted {{value['published-at'] | date : "mm"}} min ago</div>
                        </div>
                    </div>
                </section>
            </div>
        <footer>
                
        </footer>
    </section>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
<script src="js/ui-bootstrap-tpls-1.2.1.js"></script>
<script src="js/main.js"></script>
</body>
</html>